/* Container for all posts */
.post-container {
  display: flex;
  flex-direction: column; /* Arrange items in a vertical column */
  gap: 20px; /* Space between posts */
}

/* Individual post styling */
.post {
  padding: 0px !important;
  border: none !important;
  text-align: center;
  position: relative; /* Allows precise placement of the span */
  width: 475px !important; /* Ensure posts take up full width */
  margin-left: 8em;
  background-color: #23242a !important;
}

/* Image styling */
.post img {
  border: 3px solid #ddd !important;
  width: 475px; /* Make images take up full width of the container */
  height: 600px; /* Fixed height for images */
  object-fit: cover; /* Ensures the image fills the box and maintains its aspect ratio */
  border-radius: 8px;
  padding-right: 0 !important;
}

/* Avatar and username container */
.userbar {
  display: flex; /* Arrange children (avatar and username) in a row */
  align-items: center; /* Align avatar and text vertically in the center */
  gap: 20px !important; /* Space between avatar and username */
  margin-bottom: 1em;
}

/* Remove bullet points and align avatar and text */
.userbar li {
  list-style: none; /* Remove bullet points */
  display: flex; /* Arrange children horizontally */
  align-items: center; /* Align content vertically */
}

/* Avatar styling */
.avatar {
  width: 50px !important; /* Fixed width */
  height: 50px !important; /* Fixed height */
  border-radius: 50%; /* Ensures images are circular */
  object-fit: cover; /* Ensures images fit properly within the dimensions */
  display: block;
  padding-right: 10px;
}

/* Username styling */
.userbar h3 {
  color: #fff; /* Username color */
  margin: 0; /* Remove default margin */
  font-size: 1.2rem; /* Font size of the username */
  padding-right: 10px;
}

/* Content styling */
.post p, h2 {
  padding-top: 10px;
  color: #fff;
  text-align: start !important;
}

.post h3 {
  display: block;
  color: #fff;
}

.post p {
  font-size: 20px;
}

.post h2 {
  font-size: 40px;
  font-weight: 600;
}

/* Timestamp styling */
.post span {
  color: #666;
  font-size: 0.9em;
  text-align: left;
  display: block; /* Ensures the span takes the full width */
}

.title-space {
  padding-left: 50px;
}

.nameSection {
  padding-left: 10px;
}