.profile-page {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin: 0;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
  color: #ddd;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  /* padding-left: 340px; */
  width: 100%;
  padding-bottom: 30px !important;
  padding-left: 130px;
}

.post {
  border: 1px solid #ddd;
  padding: 0px;
  padding-left: 100px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-basis: 100px !important;
  width: 400px;
}

h2 {
  text-align: center !important;
  margin-bottom: 60px;
  width: 100%;

}


.head-title {
  padding-left: 180px;
}

.avatarimg {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image fits well inside the circle */
  display: block;
  margin-left: 350 auto; /* Centers the image */
}


.username, .bio {
  padding-top: 20px;
  padding-left: 180px;
}

.title {
  padding-left: 90px;
  padding-right: 30px;
}
